In [37]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv('DSBDALExam DataSets/heart.csv')
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [39]:
df.shape

(303, 14)

In [40]:
df.columns

Index(['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exng', 'oldpeak', 'slp', 'caa', 'thall', 'output'],
      dtype='object')

In [41]:
df.isnull().sum()

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

In [42]:
df.eq("?").sum()

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

In [43]:
df.dtypes

age           int64
sex           int64
cp            int64
trtbps        int64
chol          int64
fbs           int64
restecg       int64
thalachh      int64
exng          int64
oldpeak     float64
slp           int64
caa           int64
thall         int64
output        int64
dtype: object

In [44]:
df['output'] = df.output.replace({1: "Disease", 0:"No_Disease"})
df['output']

0         Disease
1         Disease
2         Disease
3         Disease
4         Disease
          ...
298    No_Disease
299    No_Disease
300    No_Disease
301    No_Disease
302    No_Disease
Name: output, Length: 303, dtype: object

In [45]:
continous_features = ['age','trtbps','chol','thalachh','oldpeak'] 
df['age']= df['age'].astype('object')
df['trtbps']= df['trtbps'].astype('object')
df['chol']= df['chol'].astype('object')
df['thalachh']= df['thalachh'].astype('object')
df['oldpeak']= df['oldpeak'].astype('object')

In [46]:
df.dtypes

age         object
sex          int64
cp           int64
trtbps      object
chol        object
fbs          int64
restecg      int64
thalachh    object
exng         int64
oldpeak     object
slp          int64
caa          int64
thall        int64
output      object
dtype: object

In [47]:
def outliers(features, drop=False):
    for ele in features:
        var = df[ele]
        iq1 = np.percentile(var, 25.)
        iq2 = np.percentile(var, 75.)
        iqr = iq2 - iq1
        step = iqr * 1.5
        l1 = var[~((var >= iq1 - step) & (var <= iq2 + step))].index.tolist()
        
        if drop:
            print(f"{ele} contain {len(l1)} outliers")
            df.drop(l1, inplace=True, errors='ignore')
        else:
            print(f"{ele} contain {len(l1)} outliers")
outliers(continous_features, True)

age contain 0 outliers
trtbps contain 9 outliers
chol contain 5 outliers
thalachh contain 1 outliers
oldpeak contain 4 outliers

In [48]:
outliers(continous_features)

age contain 0 outliers
trtbps contain 0 outliers
chol contain 0 outliers
thalachh contain 0 outliers
oldpeak contain 0 outliers

In [49]:
df.shape

(284, 14)

In [50]:
df.duplicated().sum()

1

In [51]:
df.drop_duplicates(inplace=True)

In [52]:
df.shape

(283, 14)

In [57]:
from sklearn.preprocessing import LabelEncoder
df['thall'].value_counts()

2    159
3    105
1     17
0      2
Name: thall, dtype: int64

In [59]:
df['caa'].value_counts()

0    165
1     63
2     35
3     16
4      4
Name: caa, dtype: int64

In [60]:
df.corr()

,sex,cp,fbs,restecg,exng,slp,caa,thall
sex,1.000000,-0.091357,0.066692,-0.083290,0.182596,-0.060014,0.150209,0.243271
cp,-0.091357,1.000000,0.084389,0.080836,-0.388610,0.095881,-0.171717,-0.179204
fbs,0.066692,0.084389,1.000000,-0.077417,0.006080,-0.069563,0.156265,-0.064469
restecg,-0.083290,0.080836,-0.077417,1.000000,-0.104440,0.111841,-0.091123,0.034684
exng,0.182596,-0.388610,0.006080,-0.104440,1.000000,-0.259780,0.133820,0.202806
slp,-0.060014,0.095881,-0.069563,0.111841,-0.259780,1.000000,-0.055423,-0.086431
caa,0.150209,-0.171717,0.156265,-0.091123,0.133820,-0.055423,1.000000,0.156379
thall,0.243271,-0.179204,-0.064469,0.034684,0.202806,-0.086431,0.156379,1.000000

In [62]:
df['output'] = LabelEncoder().fit_transform(df['output'])
df['output']

0      0
1      0
2      0
3      0
4      0
      ..
298    1
299    1
300    1
301    1
302    1
Name: output, Length: 283, dtype: int64

In [63]:
df.corr()

,sex,cp,fbs,restecg,exng,slp,caa,thall,output
sex,1.000000,-0.091357,0.066692,-0.083290,0.182596,-0.060014,0.150209,0.243271,0.318896
cp,-0.091357,1.000000,0.084389,0.080836,-0.388610,0.095881,-0.171717,-0.179204,-0.416319
fbs,0.066692,0.084389,1.000000,-0.077417,0.006080,-0.069563,0.156265,-0.064469,0.027210
restecg,-0.083290,0.080836,-0.077417,1.000000,-0.104440,0.111841,-0.091123,0.034684,-0.171453
exng,0.182596,-0.388610,0.006080,-0.104440,1.000000,-0.259780,0.133820,0.202806,0.431599
slp,-0.060014,0.095881,-0.069563,0.111841,-0.259780,1.000000,-0.055423,-0.086431,-0.326473
caa,0.150209,-0.171717,0.156265,-0.091123,0.133820,-0.055423,1.000000,0.156379,0.397733
thall,0.243271,-0.179204,-0.064469,0.034684,0.202806,-0.086431,0.156379,1.000000,0.349150
output,0.318896,-0.416319,0.027210,-0.171453,0.431599,-0.326473,0.397733,0.349150,1.000000

In [65]:
sub1 = df[['sex', 'cp', 'output']]

In [67]:
x=sub1.drop(['output'], axis=1)
x

     sex  cp
0      1   3
1      1   2
2      0   1
3      1   1
4      0   0
..   ...  ..
298    0   0
299    1   3
300    1   0
301    1   0
302    0   1

[283 rows x 2 columns]

In [68]:
y = sub1['output'].values

In [69]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=123)
x_train.shape

(212, 2)

In [70]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=2)
model.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=2)

In [71]:
y_pred = model.predict(x_test)

In [73]:
from sklearn.metrics import accuracy_score, precision_score, f1_score
print(f"{accuracy_score(y_test, y_pred)}")
print(f"{precision_score(y_test, y_pred)}")

0.7605633802816901
0.7567567567567568

In [76]:
model.predict([[1,0]])

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array([1])